# deny access to directories - show 403 error page
Options -Indexes

# charset
AddDefaultCharset UTF-8

# remove final slashes from directories
DirectorySlash Off

# base directory
RewriteBase /

RewriteEngine On

# Redirect the old domain to the new one.
# (Italian version, since the old website is known mainly to Italian people.)
RewriteCond %{HTTP_HOST} matteosilvestro.altervista.org [NC]
RewriteRule ^(.*)$ http://www.matteosilvestro.com/it/$1 [L,R=301]

# Fix for Bachelor's thesis and essay links.
Redirect /it/files/tesi/ /files/uni/tri/
Redirect /it/files/sds/ /files/uni/sds/

# Totally free access in the /dev directory.
RewriteCond %{REQUEST_URI} ^/dev/?(.*)$ [NC]
RewriteRule ^(.*)$ $1 [L,QSA,NC]

# Do not allow index.php and related queries to be called directly.
RewriteCond %{THE_REQUEST} index\.php* [NC]
RewriteRule ^ /%1? [R=302,L]

# Add / to a language request (e.g. 'it' -> 'it/').
RewriteCond %{REQUEST_URI} ^/[a-z]{2}$
RewriteRule (.*) $1/ [R=301,L]

# The user has specified a specific language to use ('it', 'de', 'fr', ...)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-z]{2})/(.*)$ index\.php?page=$2&lang=$1 [L,QSA,NC]

# No language specified, page in default language.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index\.php?page=$1 [L,QSA,NC]

ErrorDocument 404 /index\.php?page=404
ErrorDocument 403 /index\.php?page=403
