/*--
Cappuccino CSS Style - Valid CSS3
by Matteo Silvestro
CC BY 4.0
http://creativecommons.org/licenses/by/4.0/
last update: 13/03/2020
--*/

/* -- Page-wise stylings -- */

* {
    box-sizing: border-box; /* account for any border and padding in the values
                            you specify for an element's width and height */
}

html {
    margin-left: calc(100vw - 100%); /* avoid scrollbar jumps */
}

body {
    font-family: 'Bookman Old Style', Georgia, serif;
    background-color: #262626;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

a:hover {
    color: #262626;
    background-color: #eeeeee;
}

abbr {
    text-decoration: none;
    color: #eeeeee;
    border-bottom: 1px dotted #eeeeee;
    cursor: help;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 0;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    border-left: 1px solid #eeeeee;
}

p {
    margin: 0;
    margin-bottom: 1em;
}

#layout {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    color: #eeeeee;
}

/* -- Title and menu -- */

#title {
    width: 100%;
    margin-bottom: 3em;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
}

#title h1 { /* website title */
    font-size: 2em;
    font-weight: normal;
    text-transform: uppercase;
}

span.dim {
    color: #696969;
}

#menu {
    width: 100%;
    margin-bottom: 4em;
    text-transform: uppercase;
    text-align: center;
}

#menu ul li {
    display: inline;
    font-size: 2em;
    margin-right: 0.3em;
}

#menu ul li:last-child {
    margin-right: 0;
}

#menu ul li a {
    color: #696969;
    border-bottom: 1px solid #696969;
}

#menu ul li a:hover {
    color: #262626;
}

h2 { /* page title */
    display: none;
}

/* -- Card contents -- */

.card {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 6em;
}

.title {
    height: 3em;
    margin-bottom: 1.5em;
}

.title h3 {
    font-size: 1.6em;
}

.left.column {
    flex: 2;
    text-align: right;
    padding-right: 1.5em;
    padding-top: 4.5em;
}

.left.column img {
    width: 100%;
    border: 1px solid #eeeeee;
}

.right.column {
    flex: 3;
    padding-left: 1.5em;
}

.right.column ul {
    padding-left: 1em;
}

/* Use stars as bullet points, as I usually do on paper -- that's because I am
   bothered by little circles. */
.right.column ul li::before {
    content: "⁎";
    font-weight: bold; 
    display: inline-block; /* needed to add space between the bullet and the text */
    width: 1em;
    margin-left: -1em;
}

/* Make bigger the first letter of a paragraph, so that it looks cool. */
.right.column p:first-of-type::first-letter {
    font-size: 3.1em;
    float: left;
    margin-right: .08em;
    margin-top: -0.22em;
    margin-bottom: -0.22em;
}

@-moz-document url-prefix() { /* hack for Firefox */
    /* In Firefox the letter is already at the right height, the other browsers
       instead place it much lower */
    .column.right p:first-of-type::first-letter {
        font-size: 3.2em;
        margin-top: 0.01em;
        margin-bottom: 0;
    }
}

/* Disable the first big letter for quotes. */
.right.column blockquote p:first-of-type::first-letter {
    font-size: 1em;
    float: none;
    margin: 0;
}

.right.column :last-child {
    margin-bottom: 0; /* for better spacing remove last element margin */
}

.video-thumbnail { /* video preview of YouTube videos */
    position: relative;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-bottom: 1em;
}

.video-thumbnail:hover div {
    color: #262626;
    background-color: #eeeeee;
}

.video-thumbnail div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    height: 80px;
    width: 80px;
    line-height: 80px;
    background-color: #262626;
}

.video-wrapper { /* actual YouTube video */
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 1em;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #eeeeee;
}

span.big {
    color: #696969;
    font-size: 6em;
}

/* -- Footer -- */

#footer {
    width: 100%;
    padding: 0.5em;
    margin-top: -2em;
    color: #696969;
    text-align: center;
    border-top: 1px solid #eeeeee;
}

/* -- Mobile phones fixes -- */

@media (max-width: 600px) {

    .title {
        height: auto;
    }

    .card {
        flex-direction: column; /* display columns one above the other */
        padding: 0;
    }

    .right.column {
        padding-left: 0;
        margin-bottom: 2.9em;
    }

    .left.column {
        padding-right: 0;
        padding-top: 0;
        text-align: left;
    }

}
