/*--
Macchiato CSS Style - Valid CSS3
by Matteo Silvestro
CC BY 4.0
http://creativecommons.org/licenses/by/4.0/
last update: 07/03/2020
--*/

/* -- Basic tags -- */

* {
    box-sizing: border-box; /* account for any border and padding in the values
                            you specify for an element's width and height */
}

html {
    margin-left: calc(100vw - 100%); /* avoid scrollbar jumps */
}

body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: #b5bd68;
}

h1 {
    text-transform: uppercase;
    font-size: 2.4em;
}

h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    margin-top: 20px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul,
ol {
    margin: 0;
    padding-left: 20px;
}

ul {
    list-style: square;
}

p {
    margin: 0;
    margin-bottom: 10px;
}

blockquote {
    margin: 0;
    margin-bottom: 10px;
    padding: 0.5em 10px;
    border-left: 5px solid #b5bd68;
}

blockquote:before {
    content: "\201C";
}

blockquote:after {
    content: "\201D";
}

a {
    text-decoration: none;
    color: #f99157;
    cursor: pointer;
}

a:hover {
    border-bottom: 1px solid #f99157;
}

abbr {
    text-decoration: none;
    cursor: help;
}

hr,
.hidden {
    display: none;
}

/* -- Site and pages layout -- */

#layout {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

#title {
    width: 100%;
    text-align: center;
    background-image: url("img/matteo_silvestro.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 4em;
}

#title h1 {
    visibility: hidden;
}

/* -- Menu -- */

#menu {
    width: 100%;
    text-align: center;
    text-transform: lowercase;
    font-size: 1.5em;
}

#menu ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul:before {
    content: "{";
}

#menu ul:after {
    content: "}";
}

#menu ul li {
    display: inline;
}

#menu ul li:before {
    content: "#";
}

/* -- Pages layout -- */

.header {
    width: 100%;
    margin-top: 40px;
    border-bottom: 1px solid #b5bd68;
}

.card {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid white;
}

.column {
    flex: 1;
    padding: 0 20px;
    border-right: 1px solid white;
}

.column:first-child {
    padding-right: 0;
    border: 0;
}

.column:last-child {
    padding-left: 0;
}

.column img {
    width: 100%;
}

.column:last-child ul {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    list-style: none;
}

.column:last-child ul li {
    margin-top: 8px;
}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videothumbnail {
    position: relative;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.videothumbnail div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

/* -- Page specific styles -- */

a#fb:hover,
#tw:hover,
#ig:hover,
#lf:hover,
#st:hover,
#yt:hover,
#ms:hover,
#gh:hover {
    border-bottom: 0;
}

a#fb {
    color: black;
    background-color: #3b5998;
}

a#fb:hover {
    color: #3b5998;
    background-color: black;
}

#tw {
    color: black;
    background-color: #00acee;
}

#tw:hover {
    color: #00acee;
    background-color: black;
}

#ig {
    color: black;
    background-color: #d01e86;
}

#ig:hover {
    color: #d01e86;
    background-color: black;
}

#lf {
    color: black;
    background-color: #d51007;
}

#lf:hover {
    color: #d51007;
    background-color: black;
}

#st {
    color: black;
    background-color: #808080;
}

#st:hover {
    color: #808080;
    background-color: black;
}

#yt {
    color: black;
    background-color: #af100a;
}

#yt:hover {
    color: #af100a;
    background-color: black;
}

#ms {
    color: black;
    background-color: #1f74bd;
}

#ms:hover {
    color: #1f74bd;
    background-color: black;
}

#gh {
    color: white;
    background-color: #24292e;
}

#gh:hover {
    color: #24292e;
    background-color: white;
}

/* -- Footer --  */

#footer {
    width: 100%;
    margin-top: 20px;
    color: #819a95;
}

/* -- Mobile phones fixes -- */

@media (max-width: 600px) {
    #title {
        height: 3em;
    }

    .card {
        flex-direction: column; /* display columns one above the other */
        padding: 0;
        border-bottom: 1px solid white;
    }

    .column {
        border: 0;
        padding: 20px 0;
    }
}
