.cube {
  display: flex;
  flex-direction: column;
}

.cube .face {
  border: 5px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.cube .face:hover,
.cube .selected {
  background-color: white;
  color: #262626;
}

.bottom-faces {
  display: flex;
}
