.cube {
  display: flex;
  flex-direction: column;
}

.face {
  border: 5px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.face:hover,
.selected > div {
  background-color: white;
  color: #262626;
}

.selected {
  cursor: default;
}

.bottomFaces {
  display: flex;
}
