ul.socialLinks {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.socialLinks > li {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 1.2em;
}
