@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html {
  background-color: #262626;
}

body {
  font-family: 'Rubik', sans-serif;
  max-width: 768px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  color: #262626;
}

hr {
  margin: 40px 0;
}
