.website {
  max-width: 732px;
  margin: 0 auto;
}

.header {
  text-transform: uppercase;
  text-align: center;
  padding: 40px;
  margin: 20px;
  border: 6px solid black;
}

.header > h1 {
  font-size: 4em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
