@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box; /* account for any border and padding in the values
                          you specify for an element's width and height */
}

html {
  margin-left: calc(100vw - 100%); /* avoid scrollbar jumps */
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-color: #262626;
}

a {
  text-decoration: none;
  color: #262626;
  border-bottom: 1px solid #262626;
}

a:hover {
  color: white;
  background-color: #262626;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

p:last-child {
  margin: 0;
}

blockquote {
  margin: 0;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  border-left: 5px solid #262626;
}

blockquote > p {
  white-space: pre-line;
}
